/* BELOW 1344px (Smaller desktops) */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .activities {
    grid-template-columns: 1fr;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-item {
    font-size: 2rem;
  }

  #contacts {
    grid-template-columns: 1fr;
    line-height: 1.2;
  }

  .section-about h2 {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 15rem;
  }
}

/* BELOW 1200px (Landscape tablets) */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
}

/* BELOW 944px (Tablets) */

@media (max-width: 59em) {
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-img {
    width: 60%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .step-number {
    font-size: 7.4rem;
  }

  /* Mobile navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    transform: translateX(100%);

    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* BELOW 704px (Smaller tablets) */
@media (max-width: 44em) {
  .grid--4-cols,
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rems;
  }

  .about-container {
    display: grid;
    row-gap: 2rem;
    justify-content: center;
    align-content: center;
  }
  .section-about h2 {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .about-container img {
    margin: 0 auto;
  }
}

/* BELOW 544px (Phones) */
@media (max-width: 34em) {
  .grid {
    gap: 4.8rem;
  }

  .grid--4-cols,
  .grid--3-cols,
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }
  .hero-img {
    width: 80%;
  }

  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(178, 214, 228, 0.5);
    width: 100vw;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 1;
  }

  .step-img-box {
    transform: translateY(24px);
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
}
